
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  :root{
    --main-color: #00555a;
    --text-color: white;
  }
  
  

  
  .header{
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(53, 81, 81, 0.61),rgba(59, 61, 61, 0.61)), url(photo-1616486029423-aaa4789e8c9a.avif);
  background-size: cover;
  position: relative;
    /* background-color: var(--main-color); */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.logo{
    display: flex;
    margin-left: 60px;
}
.logo img{
    width: 100%;
    height: 60px;
}
.logo-text{
    padding-top: 8px;
    font-size:35px;
    font-weight: 700;
    color: var(--text-color);
    
}

.nav-link ul {
    list-style-type: none;
}

.nav-link li {
    float: left;
    margin-left: 20px;
    
}

.nav-link li a {
    display: block;
    font-size: 22px;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.5s ease-in-out;
  opacity: 0.6;
}

.nav-link li a.active{
    opacity: 1;
}
.nav-link  li a:hover{
    opacity: 1;
    background-color: #17666a;
    border-radius: 0.1rem;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    font-size: 10px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}




@media only screen and (max-width: 768px) {
 
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link li {
        margin: 10px 0;
    }
}
  







.text-container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}



.icon-row{
  padding: 60px 70px 80px;
  display: flex;
  justify-content: space-between;
}


.icon1{
  display: flex;
}
.icon1 img{
  width: 60px;
  height: auto;
}
.icon-text{
  font-size: 18px;
  color: #092337;
  padding: 10px;
}



 /* Media Queries for Mobile */
 @media (max-width: 480px) {
  .icon-row{
   flex-direction: column;
  }
}



.table-fan-intro{
  height: 250px;
  text-align: center;
  margin: 0 auto;
}

.table-fan-intro h1{
 color: var(--main-color);
  font-size: 62px;
  
} .table-fan-intro p{
  line-height: 2rem;
  padding-top: 10px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {

  .table-fan-intro h1{
    font-size: 40px;
  }
  .table-fan-intro p{
    font-size: 18px;
  }
}




/* card section of ceiling fan */
.main-container{
display: flex;
justify-content: space-evenly;
width: 100%;

margin-top: 30px;
margin-bottom: 30px;
}

.box{
border-radius: 10px;
position: relative;
overflow: hidden;
box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.box img{
width: 400px;
height: 400px;
border-radius: 10px;
display: block;
transition: transform 0.5s;
}
.box .overlay{
height: 0;
width: 100%;
background: linear-gradient(transparent,#00555a );
border-radius: 10px;
position: absolute;
left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 80px;
text-align: center;
font-size: 14px;
transition: height 0.5s;
}
.overlay h3{
font-weight: 500;
margin-bottom: 5px;
margin-top: 80%;
font-size: 30px;
letter-spacing:2px;
color: #fff;
}
.overlay p{
font-size: 23px;
}
.overlay a{
margin-top: 10px;
color:#fff;
border: 1px solid black;
text-decoration: none;
font-size: 20px;
background: black;
/* border-radius: 50px; */
text-align: center;
padding: 5px 15px;
}

.box:hover img{
transform: scale(1.2);
}
.box:hover .overlay{
height: 100%;
}

@media (max-width: 767px) {
.main-container {
  flex-direction: column; /* Stack boxes vertically */
  align-items: center; /* Center align boxes */
  margin-top: 70px;
}

.box {
  margin-bottom: 50px; /* Add spacing between boxes */
}

.overlay h3 {
  font-size: 20px; /* Adjust font size for smaller screens */
}

.overlay a {
  font-size: 14px; /* Adjust font size for smaller screens */
}
}

/* Media Query for Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
.main-container {
  flex-wrap: wrap; /* Allow boxes to wrap */
}
}


.faq-heading{
  height: 120px;
  display: flex;
  align-items: center;
 
}
.faq-heading h2{
margin: auto;
font-size: 33px;
color: #00555a;
}


.main{
  display: flex;
}




/* Style FAQ container */
.faq-container {

  width: 700px;
}
.faq-item {
  padding: 0px 0px 20px 40px;
}
/* Style FAQ question */
.faq-item button.accordion {
  background-color: #eee;
  color: #333;
  cursor: pointer;
  padding: 18px 40px 18px 18px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  position: relative;
}

.faq-item button.accordion:hover {
  background-color: #bab9b9;
}

/* Indicator arrow */
.faq-item button.accordion::after {
  content: '\25B6'; /* Right-pointing triangle */
  font-size: 22px;
  color: #000000;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

/* Rotate indicator arrow when panel is open */
.faq-item button.accordion.active::after {
  transform: translateY(-50%) rotate(90deg);
}

/* Style expanded panel */
.faq-item .panel {
 
  background-color: rgb(255, 251, 251);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Style panel content */
.faq-item .panel p {
  padding: 10px 0px 8px 0px;
  color: #000000;
  font-size: 20px;
 
}







































footer{
  background-color:#00555a;
  height: 320px;
  margin-top: 130px;

}
.footer-container{
  display: flex;
  justify-content: space-evenly;
  
width: 100%;
height: 270px;
padding-top: 50px;

}
.drive{
  width: 339px;
  height: 193px;
  text-align: center;
  
}
.drive img{
  width: 200px;
  height: 70px;
  margin: 0px 0px 30px;
}

.info{
  width: 290px;
  height: 213px;
text-align: center;
 
}


.info li{
list-style: none;
  color:#fff;
  padding: 15px 0px;
}
.info li a {
text-decoration: none;
color:#fff;
}
.info li a:hover{
  color:rgb(177, 1, 1);
}


.social{
  width: 339px;
  height: 240px;

}
.you-face-in{
  text-align: center;
  margin: 0px 0px 25px;
}
footer .social a{
  font-size: 26px;
 color:#fff;
 padding: 8px;
 
  }
footer .you-face-in a i:hover{
      transform: scale(1.3s);
      color: rgb(194, 6, 6);
  }
.blog{
  list-style: none;
  text-align: center;
}
.blog li{
  padding: 7px 0px;
  color: #fff;
}